interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?v=tPEE9ZwTmy0&bpctr=9999999999&has_verified=1
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\" darker-dark-theme darker-dark-theme-deprecate system-icons
        typography typography-spacing><head><script id=\"bc-def\" nonce=\"mmb3OLFggFZHQk1Z7-eftw\">'use
        strict';function a(b,c){try{Object.defineProperty(b,c,{writable:!1,configurable:!1})}catch(d){}}a(window,\"fetch\");a(window,\"JSON\");a(window.JSON,\"stringify\");a(window.JSON,\"parse\");a(window,\"Array\");a(Array.prototype,\"push\");a(Array.prototype,\"forEach\");a(Object,\"assign\");try{const
        b=document.getElementById(\"bc-def\");b&&b.remove()}catch(b){};\n</script><script
        data-id=\"_gd\" nonce=\"mmb3OLFggFZHQk1Z7-eftw\">window.WIZ_global_data =
        {\"HiPsbb\":0,\"MUE6Ne\":\"youtube_web\",\"MuJWjd\":false,\"UUFaWc\":\"%.@.null,1000,2]\",\"cfb2h\":\"youtube.web-front-end-critical_20250826.09_p0\",\"fPDxwd\":[],\"iCzhFc\":false,\"nQyAE\":{},\"oxN3nb\":{\"1\":false,\"0\":false,\"610401301\":false,\"899588437\":false,\"772657768\":false,\"513659523\":false,\"568333945\":true,\"1331761403\":false,\"651175828\":false,\"722764542\":false,\"748402145\":false,\"748402146\":false,\"748402147\":false,\"333098724\":false},\"u4g7r\":\"%.@.null,1,2]\",\"vJQk6\":false,\"xnI9P\":true,\"xwAfE\":true,\"yFnxrf\":2486};</script><meta
        http-equiv=\"origin-trial\" content=\"ApvK67ociHgr2egd6c2ZjrfPuRs8BHcvSggogIOPQNH7GJ3cVlyJ1NOq/COCdj0+zxskqHt9HgLLETc8qqD+vwsAAABteyJvcmlnaW4iOiJodHRwczovL3lvdXR1YmUuY29tOjQ0MyIsImZlYXR1cmUiOiJQcml2YWN5U2FuZGJveEFkc0FQSXMiLCJleHBpcnkiOjE2OTUxNjc5OTksImlzU3ViZG9tYWluIjp0cnVlfQ==\"/><script
        nonce=\"mmb3OLFggFZHQk1Z7-eftw\">var ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d[...]
