interactions:
- request:
    body: grant_type=client_credentials&box_subject_type=enterprise
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Box-UA:
      - agent=box-python-generated-sdk/10.5.0; env=python/3.10.19
    method: POST
    uri: https://api.box.com/oauth2/token
  response:
    body:
      string: '{"access_token": "FILTERED", "expires_in": 4119, "restricted_to": [],
        "token_type": "bearer"}'
    headers:
      box-request-id:
      - 0afbc97cd862e0e5f11381d4d5e92bf9f
      content-type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Box-UA:
      - agent=box-python-generated-sdk/10.5.0; env=python/3.10.19
      boxapi:
      - shared_link=https://app.box.com/s/2z5rwa70suvtmocwdmv0pedaax539poa
    method: GET
    uri: https://api.box.com/2.0/shared_items
  response:
    body:
      string: '{"type": "file", "id": "2267417515024", "file_version": {"type": "file_version",
        "id": "2509841911024", "sha1": "5080f8972e5ada52364857db8736887b5e8ffaf2"},
        "sequence_id": "2", "etag": "2", "sha1": "5080f8972e5ada52364857db8736887b5e8ffaf2",
        "name": "encapsulated.vtt", "description": "", "size": 470, "path_collection":
        {"total_count": 0, "entries": []}, "created_at": "2026-06-05T12:20:57-07:00",
        "modified_at": "2026-06-05T12:20:57-07:00", "trashed_at": null, "purged_at":
        null, "content_created_at": "2024-12-27T10:24:32-08:00", "content_modified_at":
        "2024-12-27T10:24:32-08:00", "created_by": {"type": "user", "id": "FILTERED",
        "name": "FILTERED", "login": "FILTERED"}, "modified_by": {"type": "user",
        "id": "FILTERED", "name": "FILTERED", "login": "FILTERED"}, "owned_by": {"type":
        "user", "id": "FILTERED", "name": "FILTERED", "login": "FILTERED"}, "shared_link":
        null, "parent": null, "item_status": "active"}'
    headers:
      box-request-id:
      - 1cfdaef7c46640a07df9e51a3b8274f61
      content-type:
      - application/json
      etag:
      - '"2"'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Box-UA:
      - agent=box-python-generated-sdk/10.5.0; env=python/3.10.19
      boxapi:
      - shared_link=https://app.box.com/s/2z5rwa70suvtmocwdmv0pedaax539poa
    method: GET
    uri: https://api.box.com/2.0/files/2267417515024/content
  response:
    body:
      string: ''
    headers:
      box-request-id:
      - 01f6de2de54e83f77c63640ff646a01d3
      location:
      - https://public.boxcloud.com/d/1/b1!cn8be2quzk7dHDSQi_Kp-IoaDCWr8j0XeITNiNVEqPonXw2p-qFFlh9nqg7PHdnAopy2PqN6angEaAsDocesK-tMpPRSDM2jFpWLqNEWMc-g52rT2aUB2R177YNn1YCFQPCdqBkcUtcQJb3jjuRBK3gD_oW1QeePPqPZDgggZRC1A4FzT1r7tetN34WCbPLjVQt3g2oQSSeSLOq1PNu0IMlb-ii92fM3XZmEzFhEdv_ozRkrW_JrcgksZdEVT-7d4DCvsiJZID2zYCcRPX7BAB9qZaoVBFyZ-eW5cjPrA3iTocsE08TrHofQHVQqAV1m3sGofpvAT08Spzk01ssuJAMSi1AdBIEiz3o1SOHDvQJnMXFaVXZOUQ1AVGb_hAAXh3cFeuOE_G73cmlZ56wm6RhgLECqvBAXKIpY0qxXqcgBlKf4N6vO5r8ex6aGY2NZihUi0qKN3-MdfCTqQcRt6-O[...]
- request:
    body: null
    headers:
      X-Box-UA:
      - agent=box-python-generated-sdk/10.5.0; env=python/3.10.19
      boxapi:
      - shared_link=https://app.box.com/s/2z5rwa70suvtmocwdmv0pedaax539poa
    method: GET
    uri: https://public.boxcloud.com/d/1/b1!cn8be2quzk7dHDSQi_Kp-IoaDCWr8j0XeITNiNVEqPonXw2p-qFFlh9nqg7PHdnAopy2PqN6angEaAsDocesK-tMpPRSDM2jFpWLqNEWMc-g52rT2aUB2R177YNn1YCFQPCdqBkcUtcQJb3jjuRBK3gD_oW1QeePPqPZDgggZRC1A4FzT1r7tetN34WCbPLjVQt3g2oQSSeSLOq1PNu0IMlb-ii92fM3XZmEzF[...]
